@model RS1_Ispit_asp.net_core.ViewModels.DodajIspitVM

@{
    ViewData["Title"] = "DodajIspit";
}

<h2>Dodaj Ispit</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DodajIspit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Škola</label>
                <select asp-for="SkolaId" class="form-control">
                    @foreach (var s in Model.SkolaList)
                    {
                        <option value="@s.Id">@s.Naziv</option>
                    }
                </select>
                <span asp-validation-for="SkolaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Nastavnik</label>
                @Model.NastavnikIme
                <span asp-validation-for="NastavnikIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkolskaGodina" class="control-label"></label>
                @Model.SkolskaGodina
                <span asp-validation-for="SkolskaGodina" class="text-danger"></span>
            </div>
            <input asp-for="NastavnikId" type="hidden" />
            <input asp-for="SkolskaGodinaId" type="hidden" />
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" type="date" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Predmet</label>
                <select asp-for="PredmetId" class="form-control">
                    @foreach (var s in Model.PredmetList)
                    {
                        <option value="@s.Id">@s.Naziv</option>
                    }
                </select>
                <span asp-validation-for="PredmetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

